<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet"  type= "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css ">
<link rel="stylesheet" type="text/css"  href="/css/app.css">
</head> 
<body>
<div class="ui pointing menu">
  <a class="header item" href="/blogs">
    <i class="pencil alternate icon"></i>Home
  </a>
  <a class="item" href="/blogs/new">
    New Blog
  </a>
  <a  href= "/blogs/new" class="item">
    Edit Blog
  </a>
</div>